<fhheader title="Book Inventory" subtext="MP222"></fhheader>

<section id="inventory">
    <div id="formWrapper" ng-init="getList()">
        <p id="description">Here is the book inventory.</p>
        <br/>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Author</th>
                <th>On Hand</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="book in booklist">
                <td>{{book.fields.title}}</td>
                <td>{{book.fields.genre}}</td>
                <td>{{book.fields.author}}</td>
                <td>{{book.fields.count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <form name="viewForm" class="form-horizontal" novalidate>
          <div class="form-group">
              <div class="controls">
                  <button type="button" class="btn btn-primary btn-block" ng-click="showInputView()">Add Inventory</button>
              </div>
          </div>
      </form>
      <div ng-show="noticeMessage" class="text-center tx-result {{textClassName}}"><p>{{noticeMessage}}</p></div>
    </div>
</section>
